@using MongoDB.Bson
@model Portal.Models.Comment

<form asp-area="" asp-controller="Home" asp-action="Comment" method="post" id="commentForm">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ArticleId" />
    <div class="input-group">
        <input asp-for="Content" type="text" class="form-control" placeholder="Comment...">
    </div>
    <span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-secondary" />
    </span>
</form>